@model ArtificialGold.Models.ViewModels.HomeViewModel

<!DOCTYPE HTML>
<html>
<head>
 <link rel="shortcut icon" href="favicon.ico" >
   <link rel="icon" type="image/gif" href="animated_favicon1.gif" >
<meta charset="utf-8">
<title>@Model.Phrases.PageTitle</title>
<link href="/Content/style.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.anchor.js" type="text/javascript"></script>
</head>

<body>
<div class="container">
	<div class="header">
    	<div class="header_top">
        	<header>
            <div class="logo fleft">
        		<a href="#"><img src="Content/images/logo-artificial-gold.png" alt="Artificial Gold" width="250" height="90" border="0" /></a>
            </div>
            </header>
        </div><!--/headertop-->
        
        <nav>
        <div class="nav" id="nav">
        	<ul>
            	<li><a href="#Home" class="anchorLink active">@Model.Phrases.HomeMenuLink</a></li>
	            <li><a href="#About" class="anchorLink">@Model.Phrases.AboutUsMenuLink</a></li>
                <li><a href="#Services" class="anchorLink">@Model.Phrases.ServicesMenuLink</a></li>
                <li><a href="#Projects" class="anchorLink">@Model.Phrases.ProjectsMenuLink</a></li>
                <li><a href="#Testimonials" class="anchorLink">@Model.Phrases.TestimonialsMenuLink</a></li>
                <li><a href="#Contact" class="anchorLink">@Model.Phrases.ContactMenuLink</a></li>
            </ul>
        </div>
        </nav><!--/nav-->
    </div><!--/header-->
  
  
  <section>
  <div class="content" id="Home">
        <div class="home_main">
            <div class="home_main_lft">
                <h1><img src="Content/images/title-hit-escape-or-press-enter.png" width="347" height="32" alt="Hit 'Escape' or Press 'Enter'?"></h1>
                <p>Quick! Your website has 5 seconds to steer the user <br />either way. Which one would it be?</p>
            </div><!--/home_main_lft-->
            <div class="home_main_rgt">
                <img src="Content/images/image-main.jpg" width="440" height="220" alt="Main">
            </div><!--/home_main_rgt-->
            <br class="clear" />
        </div><!--/home_main-->
        <div class="welcome_wrap">
            <div class="col_left fleft">
                <div class="col_left_in topzero">
                    <h1>Welcome </h1>
                </div><!--/col_left_in-->
                <div class="col_left_in">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="right"><a href="#">Learn more</a></p>
                </div><!--/col_left_in-->
            </div><!--/col_left-->
            
            
            <div class="col_right fright">
                <div class="col_right_in">
                <div class="right_list">
                	<ul>
                	  <li>amet, consectetur adipisicing elit, sed do sed do eiusmod.</li>
                	  <li>tempor in cid idunt ut labore et dolore magna </li>
                	  <li>amet, consectetur adipisicing elit, sed do.</li>
              	  </ul>
                  <p class="right"><a href="#">Learn more</a></p>
                </div>
                </div>
            </div><!--/col_right-->
        </div><!--/welcome_wrap-->
    </div>
    <br class="clear" />
    </section>
    
    <section id="About">
        <div class="content about_wrap" id="Testimonials">
            <div class="col_left fleft">
                <div class="col_left_in topzero">
                    <h1>About Us </h1>
                </div><!--/col_left_in-->
                <div class="col_left_in">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="right"><a href="#">Learn more</a></p>
                </div><!--/col_left_in-->
                <div class="col_left_in">
                    <h2>Areas of Expertise</h2>
                    <ul class="left_list">
                      <li>SEO</li>
                      <li>Website Design</li>
                      <li>Usability</li>
                      <li>Hosting</li>
                      <li>Project Management</li>
                      <li>IT Staff Management</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="right"><a href="#">Learn more</a></p>
                </div><!--/col_left_in-->
            </div><!--/col_left-->
            
            
            <div class="col_right fright">
                <div class="testimonial">
                	<h2>Testimonials</h2>
                    <p><img src="Content/images/image-testimonials.jpg" width="186" height="84" alt="Testimonials"></p>
                    <div class="testi_item">
                        <div class="testi_item_in">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p><em>- Lorem ipsum</em></p>
                        </div>
                    </div>
                	<p class="center"><img src="Content/images/button-learn-more.png" width="100" height="27" alt="Learn More"></p>
                </div>
        	</div>
        </div><!--/about_wrap-->
        <br class="clear" />
    </section>
    
    
    <section id="Services">
        <div class="content services_wrap">
            <div class="col_left fleft">
                <div class="col_left_in topzero">
                    <h1>Services</h1>
                </div><!--/col_left_in-->
                <div class="col_left_in">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="right"><a href="#">Learn more</a></p>
                </div><!--/col_left_in-->
                <div class="col_left_in">
                    <h2 id="Services">Areas of Expertise</h2>
                    <ul class="left_list">
                      <li>SEO</li>
                      <li>Website Design</li>
                      <li>Usability</li>
                      <li>Hosting</li>
                      <li>Project Management</li>
                      <li>IT Staff Management</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="right"><a href="#">Learn more</a></p>
                </div><!--/col_left_in-->
            </div><!--/col_left-->
            
            
            <div class="col_right fright">
                <div class="col_right_in">
                <div class="right_list">
                	<ul>
                	  <li>amet, consectetur adipisicing elit, sed do sed do eiusmod.</li>
                	  <li>tempor in cid idunt ut labore et dolore magna </li>
                	  <li>amet, consectetur adipisicing elit, sed do.</li>
                      <li>amet, consectetur adipisicing elit, sed do sed do eiusmod.</li>
                	  <li>tempor in cid idunt ut labore et dolore magna </li>
                	  <li>amet, consectetur adipisicing elit, sed do.</li>
              	  </ul>
                  <p class="right"><a href="#">Learn more</a></p>
                </div>
                </div>
            </div><!--/col_right-->
        </div><!--/services_wrap-->
        <br class="clear" />
    </section>
    
    
    <section>
    <div class="content project_wrap fleft" id="Projects">
    	<h1>Projects </h1><br class="clear" />
    	<div class="project_item fleft">
        	<p><img src="Content/images/project-1.jpg" width="200" height="138" alt="Project 1"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
        <div class="project_item fleft">
        	<p><img src="Content/images/project-2.jpg" width="200" height="138" alt="Project 2"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
        <div class="project_item fleft">
        	<p><img src="Content/images/project-3.jpg" width="200" height="138" alt="Project 3"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
        <div class="project_item fleft last">
        	<p><img src="Content/images/project-4.jpg" width="200" height="138" alt="Project 4"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
        <div class="project_item fleft">
        	<p><img src="Content/images/project-1.jpg" width="200" height="138" alt="Project 1"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
        <div class="project_item fleft">
        	<p><img src="Content/images/project-2.jpg" width="200" height="138" alt="Project 2"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
        <div class="project_item fleft">
        	<p><img src="Content/images/project-3.jpg" width="200" height="138" alt="Project 3"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
        <div class="project_item fleft last">
        	<p><img src="Content/images/project-4.jpg" width="200" height="138" alt="Project 4"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</p>
            <p class="right"><a href="#">Learn more</a></p>
        </div><!--/project_item-->
    </div><!--/project_wrap-->
    <br class="clear" />
    </section>
    
    
    <section>
    <div class="content" id="Contact">
        <div class="contact_wrap fleft">
            <div class="contact_wrap_in fleft">
                <h2>Contact</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="contact_wrap_in fleft">
                <h3>&nbsp;</h3>
                <p>Tel: 000-000-0000<br>
                Fax: 000-000-000<br>
                Email: info@artificialgold.com</p>
            </div>
            <div class="contact_wrap_in fleft">
                <h3>Get in touch:</h3>
                <br class="clear" />
                <div class="social_a fleft">
                    <p><img src="Content/images/fb.png" width="101" height="32" alt="Facebook"></p>
                    <p><img src="Content/images/in.png" width="101" height="28" alt="Linked In"></p>
                </div>
                <div class="social_b fleft">
                    <img src="Content/images/tw.png" width="52" height="44" alt="Twitter">
                </div>
            </div>
        </div><!--/contact_wrap-->
        <br class="clear" />
        <div class="map_wrap fleft">
            <iframe width="940" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=United+Kingdom&amp;hl=en&amp;ie=UTF8&amp;view=map&amp;ftid=0x25a3b1142c791a9:0xc4f8a0433288257a&amp;ftt=33&amp;geocode=FYMATQMdO5LL_w&amp;split=0&amp;sll=47.737737,12.633599&amp;sspn=26.347216,42.565912&amp;hq=&amp;hnear=United+Kingdom&amp;t=m&amp;ll=55.378051,-3.435973&amp;spn=11.022218,10.426768&amp;output=embed"></iframe>
        </div><!--/map_wrap-->
    </div>
    </section>
    
 	<footer>
    <div class="footer fleft">
    	&copy; All rights reserved.
    </div>
    </footer><!--/footer-->
    
</div><!--/container-->
</body>
</html>